<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>註冊報名</title>
    <link href="CSS/Register.css" rel="stylesheet" />
    <link href="CSS/bootstrap.min.css" rel="stylesheet" />
    <script src="Script/jquery.min.js" type="text/javascript"></script>
    <script src="Script/Register.js" type="text/javascript"></script>
    <script src="Script/vue.min.js" type="text/javascript"></script>
    <script src="Script/bootbox.min.js" type="text/javascript"></script>
    <script src="Script/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
    <div id="form_data">
	<div style="text-align: center;margin-top:60px;">
                      <div style="display: inline-block;">
					  <!-- <i class="material-icons" style="font-size:20px; line-height:20px;">person</i> -->
                          <div class="step_title">基本資料</div>
                      </div>
                      <div style="display: inline-block;"> <span class="must_write">*</span>為必填資料</div>
                  </div>
        <table>
            <tr class="formItemGroup">
                <td>
                    <span class="must_write">*</span>姓名
                </td>

                <td>
                    <input type="text" v-model="data.Name" class="form-control">
                    <div v-if="error['Entity.Name']" class="hintword">{{error['Entity.Name']}}</div>
                </td>
            </tr>

            <tr class="formItemGroup">
                <td>
                    <span class="must_write">*</span>本國人 / 外國人
                </td>

                <td>
                    <label>
                        <input type="radio" v-model="data.IsForeigner" value="Native">
                        本地人
                    </label>

                    <label>
                        <input type="radio" v-model="data.IsForeigner" value="Foreigner">
                        外國人
                    </label>
                </td>
            </tr>


            <tr class="formItemGroup">
                <td>
                    <span class="must_write">*</span>{{identyTitle}}
                </td>

                <td>
                    <input type="text" v-model="data.IdentyCode">
                    <div v-if="error['Entity.IdentyCode']" class="hintword">{{error['Entity.IdentyCode']}}</div>
                </td>
            </tr>

            <tr class="formItemGroup">
                <td>
                    <span class="must_write">*</span>Email
                </td>

                <td>
                    <input type="text" v-model="data.Email">
                    <div v-if="error['Entity.Email']" class="hintword">{{error['Entity.Email']}}</div>
                </td>
            </tr>

            <tr class="formItemGroup">
                <td>
                    <span class="must_write">*</span>連絡電話
                </td>

                <td>
                    <input type="text" v-model="data.Phone">
                    <div v-if="error['Entity.Phone']" class="hintword">{{error['Entity.Phone']}}</div>
                </td>
            </tr>

            <tr class="formItemGroup">
                <td>
                    <span class="must_write">*</span>就讀學校
                </td>

                <td>
                    <input type="text" v-model="data.SchoolName">
                    <div v-if="error['Entity.SchoolName']" class="hintword">{{error['Entity.SchoolName']}}</div>
                </td>
            </tr>

            <tr class="formItemGroup">
                <td>
                    <span class="must_write">*</span>就讀系所
                </td>

                <td>
                    <input type="text" v-model="data.SchoolDepartment">
                    <div v-if="error['Entity.SchoolDepartment']" class="hintword">{{error['Entity.SchoolDepartment']}}</div>
                </td>
            </tr>

            <tr class="formItemGroup">
                <td>
                    <span class="must_write">*</span>就讀年級
                </td>

                <td>
                    <input type="text" v-model="data.SchoolGrade">
                    <div v-if="error['Entity.SchoolGrade']" class="hintword">{{error['Entity.SchoolGrade']}}</div>
                </td>
            </tr>
        </table>
		<div id="infoidenty">
                        <label>
                            <input type="checkbox"  style="margin-top:20px;" v-model="data.checkRead">我同意此個資保護條款</label>
							<span class="linkStyle" onclick="showIdentyInfo()">閱讀條款</span>
		</div>
        <button id="BtnSave" @click="Submit();">送出</button>
    </div>
</body>
</html>