@model WalkingTec.Mvvm.Core.BaseVM
@using System.Text.Json

<div class="layui-row layui-col-space15" id="frontpage">
  <div class="layui-col-md15">
    <div class="layui-row layui-col-space15">
      
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">報名數據</div>
          <div class="layui-card-body">
            <wt:chart type="Bar" height="400" trigger-url="/Home/GetUserChart"  name-x="日期" name-y="報名數"/>

          </div>
        </div>
      </div>
    </div>
  </div>


   
  </div>

</div>
<script>
  $("#frontpage").parents(".layui-card").css("background-color", "#eee").css("height","unset");
  $.get("/Home/GetGithubInfo", function (r) {
    if (r === undefined || r === null) {
      return;
    }
    $("#githubstar").html(r.stargazers_count);
    $("#githubstars").html(r.stargazers_count);
    $("#githubfork").html(r.forks_count);
    $("#githubwatch").html(r.subscribers_count);
    $("#githubissue").html(r.open_issues_count);
  });

  //区块轮播切换
  layui.use(['admin', 'carousel'], function () {
    var $ = layui.$
      , admin = layui.admin
      , carousel = layui.carousel
      , element = layui.element
      , device = layui.device();

    //轮播切换
    $('.layadmin-carousel').each(function () {
      var othis = $(this);
      carousel.render({
        elem: this
        , width: '100%'
        , arrow: 'none'
        , interval: othis.data('interval')
        , autoplay: othis.data('autoplay') === true
        , trigger: (device.ios || device.android) ? 'click' : 'hover'
        , anim: othis.data('anim')
      });
    });

    element.render('progress');

  });

</script>
